@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scroll behavior */
html {
    scroll-behavior: smooth;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #6b4f36;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #543c29;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-in {
    animation: slide-in 0.3s ease-out;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.banner-swiper-container .swiper-pagination-bullet {
    background: #ffffff !important; /* Change inactive dots to white */
    opacity: 0.5;
}

.banner-swiper-container .swiper-pagination-bullet-active {
    background: #ffffff !important; /* Change active dot to white */
    opacity: 1;
}
